<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex
            justify-content-center">
            <h4 class="texte-white">Siga-nos em nossas redes sociais</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/brubonifacio" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>

                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/bruna-bonifacio-/" target="_blank" class="icoLinkedIn">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/__brubonifacio/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3"> 
        <span class="text-light"> ₢ 2021 Copyright: Bruna Bonifácio 

        </span>

    </div>
</footer>